# You need to replace these
trainer_app_top_domain  = "example.com"
github_docker_registry = "ghcr.io"
github_docker_registry_user = "kube-dev"
github_docker_registry_password = <PASSWORD>

trainer_app_admin_username=<USER>
trainer_app_admin_password=<PASSWORD>

trainer_app_s3_access_key_id=<KEY_ID>
trainer_app_s3_secret_key=<SECRET>