<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error details</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
<div class="navbar-form navbar-right">
    <a href="/index.html">
        <button class="btn btn-secondary navbar-right">Back</button>
    </a>
</div>
<h1 th:text="${processId}"></h1>
<h1 th:text="${businessKey}"></h1>
<span th:text="${error}"></span>
<span th:text="${stacktrace}"></span>
</body>
</html>